@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --step-primary: #4b5563;
  --step-secondary: #6b7280;
  --step-accent: #1f2937;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-step-primary: var(--step-primary);
  --color-step-secondary: var(--step-secondary);
  --color-step-accent: var(--step-accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
